body{
    background-color: white;
    font-family: Roboto,-apple-system,Nimbus Roman No9 L,PingFang SC,Hiragino Sans GB,Noto Sans SC,Microsoft Yahei,WenQuanYi Micro Hei,ST Heiti,EuclidCircularA,sans-serif;
}
.main{
    /* position: absolute; */
    /* top: 66px; */
    /* background-color: beige; */
    height: 2280px;
    width: 65%;
    min-width: 1200px;
    margin: auto;
    /* background-color: aqua; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: black;
    text-align: center;
    margin-right: 25px;
    text-decoration: none;
}
 
/* 鼠标移动到选项上修改背景颜色 */
li a:hover {
    border-bottom:2px solid #000;
}
*{
    margin: 0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
}
.nav{
    font-weight: 500;
    background-color: white;
    height: 67px;
    width: 100%;
    min-width: 1200px;
    position: fixed;
    border-bottom: 0.5px solid rgba(117,119,121,0.8);
    z-index: 99;
}
.eight{
    height: 66px;
    width:65%;
    min-width: 1200px;
    margin: auto;
    /* background-color: azure; */
    
}
.nav_left{
    float: left;
    width: 32%;
    /* min-width: 400px; */
    height: 66px;
    line-height: 66px;
    /* background-color: brown; */
    font-size: 14px;
    font-weight: 600;
}
.nav_mid{
    float: left;
    width: 32%;
    /* min-width: 521px; */
    height: 66px;
    /* background-color:yellow; */
    text-align: center;
    line-height: 66px;
    font-size: 25px;
}
.nav_mid a{
    list-style-type: none;
    text-decoration: none;
    font-size: 19px;
    color: black;
    /* padding-left: 5px; */
}
.nav_right{

    float: left;
    width: 36%;
    /* min-width: 560px; */
    height: 66px;
    
    /* background-color:pink; */
}
.nav_right .search{
    /* background-color: chocolate; */
    width: 9%;
    float: right;
    margin-top: 1px;
}
.nav_right .mobi{
    width: 12%;
    margin-top: 2px;
    float: right;
}
.nav_right .nav_right_xiao{
    height: 66px;
    margin-top: 20px;
    /* margin-bottom: 14px; */
    /* background-color: chocolate; */
}
.nav_right .search img{
    height: 24px;
    width: 23px;
    margin-top: 3px;
}
.nav_right .nav_right_xiao .mobi img{
    height: 25px;
    width: 27px;
    margin-top: 1px;
}
#btnbox{
    font-size: 12px;
    font-weight: 200;
    width: 20%;
    height: 28px;
    background-color: white;
    /* background-color: #000; */
    float: right;
    /* margin-right: 30px; */
    text-align: center;
    line-height: 28px;
    border:1px solid #000
}
.ooo{
    color: inherit;
}
#denglu{
    position: absolute;
    float: left;
    height: 67px;
    width: 40px;
    /* background-color: aqua; */
    cursor: pointer;
}
#btnbox a{
    color: inherit;
}
.nav_right .dark img{
    height: 22px;
    float: right;
    margin-top: 5px;
    margin-left: 15px;
}

.fk{
    height: 3000px;
    /* background-color: blueviolet; */
}
.fk .fk_first{
    height: 600px;
    padding-top: 66px;
    /* background-color: brown; */
}
.fk .fk_first .gun{
    float: left;
    width: 76%;
    height: 550px;
    /* background-color: yellow; */
    /* min-width: 1070px; */
}
.fk .fk_first .gun .lunbotu{
    
    /* background: darkblue; */
    height: 560px;
    width: 100%;
    /* margin: 25px auto; */
}
.shell{
    cursor: pointer;
    width: 100%;
    height: 560px;
    position: relative;
    overflow-x: hidden;
    /* border-radius: 5px; */
    /* border: 1px #fff solid; */
    /* box-shadow: 20px 30px 20px rgba(0,0,0,.5); */
}
.images{
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}
.img{
    width: 100%;
    /* background-size: auto; */
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.img a{margin: auto;
    /* background-color: #000; */
    /* line-height: 480px; */
    padding-top: 270px;
    color: #fff;
    font-size: 32px;
    width: 650px;
    text-align: center;
}
.img:nth-child(1){
    background-image: url("../images/wyy.webp");
}
.img:nth-child(2){
    background-image: url("../images/LUN2.png");
}
.img:nth-child(3){
    background-image: url("../images/LUN1.png");
}

.min-images{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 15px;
    width: 15%;
    z-index: 9;
    right: 40%;
}
.min{
    width: 1px;
    height: 1px;
    /* 鼠标悬浮时显示按钮指针 */
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    border: solid 5px rgba(255,255,255,0.5);
    /* 照片偏移量 */
    background-position: -20px 0;
}
.min:nth-child(1){
    background-color: white;
}
.min:nth-child(2){
    background-color: white;
}
.min:nth-child(3){
    background-color: white;
}

.button{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}
.button-left,
.button-right{
    font-size: 50px;
    /* background-color: rgba(160,190,255,0.2); */
    padding: 0 20px;
    line-height: 560px;
    cursor: pointer;
    font-weight: 200;
}
.fk .fk_first .twob{
    overflow-x: hidden;
    float: left;
    width: 24%;
    /* background-color: aqua; */
    height: 600px;
    
}
.fk .fk_first .twob .twob_two{
    width: 93%;
    height: 270px;
    margin-bottom: 20px;
    float: right;
    /* margin: auto; */
    background: black;
}
.fk_guodu{
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin: 30px 0;
    background: rgb(22,22,22);
    height: 52px;
    width: 100%;
    line-height: 52px;
}
.fk_guodu:hover{
    background-color: yellow;
    color: black;    
}
.fk_guodu a{
    text-decoration: none;
    float: right;
    margin-right: 15px;
    color: inherit;
}
.tuijiantitle .tuijiantitleleft a{
    float: right;
    font-size: 10px;
    color: rgb(117,119,121);
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
}
.tuijiantitle .tuijiantitleleft{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.list{
    position: relative;
    width: 105%;
}
.shuai{
    /* position: absolute; */
    width: 278px;
    height: 380px;
    /* background-color: aliceblue; */
    float: left;
    margin-right: 29px;
    margin-top: 50px;
    /* margin-bottom: px; */
    /* margin-right: 45px; */
}
.shuaia{
    font-size: 12px;
    float: left;
    /* margin-right: 10px; */
    height: 30px;
    width: 60px;
    /* background-color: #000; */
    color: gray;
}
.shuaititle{
    float: left;
    width: 278px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 550;
    /* background-color: #000; */
}
.shuaimiaoshu{
    font-size: 12px;
    float: left;
    line-height: 28px;
    /* margin-right: 10px; */
    height: 30px;
    width: 278px;
    /* background-color: #000; */
    color: gray;
}
.shuaihengxian{
    margin-left: 4px;
    width: 270px;
    height: 50px;
    /* background-color: aqua; */
    float: left;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 1px;
}
.shuaizuozhe{
    font-size: 12px;
    float: left;
    /* margin-right: 10px; */
    height: 30px;
    width: 100px;
    /* background-color: #000; */
    color: gray;
}
.shuaib{
    font-size: 12px;
    float: right;
    /* margin-right: 10px; */
    height: 30px;
    margin-left: 10px;
    /* width: 50px; */
    /* background-color: #000; */
    color: gray;
}
.readmore{
    position: relative;
    /* border:1px solid #000; */
    /* float: left; */
    top: 88px;
    height: 40px;
    width:300px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    color: #000;
}
.readmoretext{
    margin-top: 45px;
    border: 1px solid #000;
    padding: 13px 72px;
}
.more_se{
    position: absolute;
    margin-top: 100px;
    min-width: 1200px;
}
.more_se .motuijiantitle .motuijiantitleleft{
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.moshuai{
    /* position: absolute; */
    width: 278px;
    height: 380px;
    background-color: dimgray;
    float: left;
    margin-right: 29px;
    margin-top: 30px;
    /* margin-bottom: px; */
    /* margin-right: 45px; */
}
.moreadmoretext{
    position: absolute;
    /* border:1px solid #000; */
    /* float: left; */
    top: 4500px;
    left: 540px;
    height: 120px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    margin: auto;
    color: #000;
    border: 1px solid #000;
    border-radius: 510px;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}
.third{
    /* position: relative; */
    top: 88px;
    width: 100%;
    height: 400px;
    background-color: #000;
}
.thx{
    position: absolute;
    top: 5300px;
    width: 100%;
    height: 380px;
    background-color: #000;
}
.eee{
    width: 65%;
    min-width: 1200px;
    background-color:#000;
    height: 100%;
    margin: auto;
}
.ba, .bt, .bs, .bf{
    padding-top: 100px;
    height: 150px;
    /* width: 25%; */
    float: left;
    /* background-color: #000; */
}
.ba{
    background-color: #000;
    color: white;
    font-size: 22px;
    width: 14%;
}
.ba h1{
    color: white;
}
.ba a{
    color: white;
}
.bt{
    background-color:#000;
}
.bt .ydd{
    margin-top: 8px;
    width: 65px;
    line-height: 28px;
    font-size: 14px;
    color: white;
}
.bt .ydd a{
    color: white;
}
.bs{
    padding-left: 120px;
    background-color: black;
    width: 50.56%;
    padding-top: 105px;
    color: white;
}
.wb, .tg, .qq, .wx{
    float: left;
    height: 56px;
    width: 360px;
    background-color: #000;
}
.wb{
    background-image: url(../images/aboutus.png);
    background-size: cover;
}
.bf{
    position: relative;
    background-color: #000;
    width: 10%;
    color: white;
}
.blackk{
    position: absolute;
    top: 293px;
    width: 300px;
    height: 70px;
    background-color: #000;
}
.xxleft{
    /* margin-top: 300px; */
    /* margin-right: 300px; */
    float: left;
    width: 20%;
    height: 8200px;
    /* padding-right: 30px; */
    /* background-color: blanchedalmond; */
}
.xxmid{
    float: right;
    width: 80%;
    /* max-width: 80%; */
    /* background-color: blue; */
    height:auto;
}

.wangzhang{
    width: 100%;
    height: 3600px;
}
.xxmid p{
    font-size: 18px;
}
.xxmid img{
    width: 100%;
}
#wenzhangmain{
    /* position: absolute; */
    /* top: 66px; */
    /* background-color: beige; */
    height: 3000px;
    width: 65%;
    /* min-width: 900px; */
    margin: auto;
}
.xxleft img{
    width: 50px;
}
.mulu{
    position: sticky;
    top: 200px;
    height: 600px;
    width: 200px;
    /* background-color: #000; */
    color: #000;
}
.mulu a{
    float: left;
    width: 200px;
    margin-top: 20px;
}
.fenxiang{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    /* background-color: bisque;s */
}
.fenxiangdao{
    border-radius: 10px;
    background-image: url(../img/点赞.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 95px;
    /* background-color: #000; */
    position: relative;
    margin: auto;
}
.dianzanshu{
    position: relative;
    margin: auto;
    text-align: center;
}
.fenxiangdao .dadainzan{
    float: left;
    width: 30px;
    height: 30px;
}
.pinglun{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    /* background-color: rgb(74, 49, 49); */
    font-size: 140px;
}
/* .container{
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card{
    margin-top: 100px;
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
} */
.fk_third{
    width: 100%;
    /* background-color: #000; */
    height: 300px;
    margin-top: 1030px;
}
.lingganshipin{
    width: 100%;
    min-width: 1200px;
    height: 950px;
    background-color: rgb(250,250,250);
}
.liangge{
    margin-top: 50px;
    height: 372px;
    width: 100%;
    /* background-color: aqua; */
}
.shipone{
    cursor: pointer;
    position: relative;
    min-width: 587px;
    float: left;
    width: 48.9%;
    height: 372px;
    /* background-color: red; */
    line-height: 30px;
    color: #000;
    font-size: 18px;
    font-family: yahei;
    font-weight: 550;
}
.shiptwo{
    cursor: pointer;
    position: relative;
    min-width: 587px;
    float:right;
    width: 48.9%;
    height: 372px;
    /* background-color: blue; */
    line-height: 30px;
    color: #000;
    font-size: 18px;
    font-family: yahei;
    font-weight: 550;
}
.bofangbtn, .timebox{
    position: absolute;
}
.bofangbtn{
    border-radius: 50px;
    background-image: url(../icon/icon_bofang\ \(1\).png);
    background-size: cover;
    left: 45%;
    top: 33%;
    /* margin: auto; */
    height: 60px;
    width: 60px;
    background-color: rgba(250,250,250,0.8);
    cursor: pointer;
}
.timebox{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    background-color: rgba(22,22,22,0.4);
    line-height: 30px;
    width: 50px;
    bottom: 55px;
    right: 5px;
}
.sige_one, .sige_two, .sige_three, .sige_four{
    float: left;
    width: 278px;
    /* height: 156px; */
    height: 220px;
    margin-top: 20px;
    position: relative;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    font-family: yahei;
    font-weight: 550;
}
.sige_one, .sige_two, .sige_three{
    margin-right: 29px;
}
.sige .bofangbtn{
    border-radius: 50px;
    background-image: url(../icon/icon_bofang\ \(1\).png);
    background-size: cover;
    left: 40%;
    top: 25%;
    /* margin: auto; */
    height: 55px;
    width: 55px;
    background-color: rgba(250,250,250,0.8);
    cursor: pointer;
}
.sige .timebox{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    background-color: rgba(22,22,22,0.4);
    line-height: 30px;
    width: 50px;
    bottom: 68px;
    right: 5px;
}
.bc {
    background-color: rgba(22,22,22,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    display: none;
}
.denglubox{
    z-index: 9999999;
    position: fixed;
    display: none;
    height: 570px;
    width: 950px;
    /* background-color: burlywood; */
    margin-top: 180px;
    margin-left: 22%;
    background-image: url(../img/dlbg2.jpg);
    background-size: cover;
}
.ship1, .ship2, .ship3,
.ship4, .ship5, .ship6{
    z-index: 9999999;
    position: fixed;
    display: none;
    height: 570px;
    width: 950px;
    /* background-color: burlywood; */
    margin-top: 180px;
    margin-left: 20%;
    /* background-image: url(../img/dlbg2.jpg); */
    border-radius: 8px;
    background-size: cover;
}
video{
    height: 570px;
    border-radius: 8px;
    box-shadow: 0 0 24px 8px #000;
}
.form-box{
    color: #000;
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 570px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* 动画过渡 加速后减速 */
    transition: 0.5s ease-in-out;
}
/* .yourm{
    position: absolute;
    top: 0px;
} */
.register-box,.login-box{
    /* 弹性布局 垂直排列 */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hidden{
    display: none;
    transition: 0.5s;
}
.denglubox h1{
    text-align: center;
    margin-bottom: 25px;
    /* 大写 */
    text-transform: uppercase;
    /* color: #fff; */
    /* 字间距 */
    letter-spacing: 5px;
}
.denglubox input{
    background-color: transparent;
    width: 70%;
    /* color: #fff; */
    border: none;
    /* 下边框样式 */
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
.denglubox input::placeholder{
    color: #000;
}
.denglubox input:focus{
    color: #a262ad;
    outline: none;
    border-bottom: 1px solid #a262ad80;
    transition: 0.5s;
}
.denglubox input:focus::placeholder{
    opacity: 0;
}
.form-box button{
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 50px;
    padding: 13px;
    color: rgb(22,22,22);
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.form-box button:hover{
    background-color: black;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}
.con-box{
    width: 50%;
    /* 弹性布局 垂直排列 居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 绝对定位 居中 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.con-box.left{
    left: -2%;
}
.con-box.right{
    right: -2%;
}
.con-box .one{
    margin-bottom: 5px;
    color: #fff;
    border-radius: 50px;
    border:1px solid #fff;
    width: 22px;
    height: 22px;
    /* background-color: #000; */
    text-align: center;
    line-height: 22px;
    font-weight: 600;
}
.con-box .two{
    margin-bottom: 5px;
    color: #fff;
    border-radius: 50px;
    border:1px solid #fff;
    width: 22px;
    height: 22px;
    /* background-color: #000; */
    text-align: center;
    line-height: 22px;
}
.con-box .text{
    margin-bottom: 5px;
    color: #fff;
}
.con-box img{
    width: 150px;
    height: 150px;
    opacity: 0.9;
    margin: 40px 0;
}
.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.con-box button:hover{
    background-color: #d3b7d8;
    color: #fff;
}
.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
.con-box span{
    color: #d3b7d8;
}
.nicepic{
    width: 100%;
    min-width: 1200px;
    height: 950px;
    /* background-color: yellow; */
}
.nicepic .shuai{
    /* position: absolute; */
    width: 278px;
    height: 200px;
    /* background-color: aliceblue; */
    float: left;
    margin-right: 29px;
    margin-top: 19px;
    /* margin-bottom: px; */
    /* margin-right: 45px; */
}
.nicepic .zhezhao{
    position: absolute;
    width: 278px;
    height: 190px;
    /* background-color: aliceblue; */
    float: left;
    /* margin-right: 29px; */
    /* margin-top: 19px; */
    background-color: rgba(0,0,0,0.4);
    /* margin-bottom: px; */
    /* margin-right: 45px; */
    cursor: pointer;
    display: none;
    /* vertical-align: baseline; */
    line-height: 190px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.nicepic .tuijiantitle{
    margin-bottom: 38px;
}
.nicepic #main{
    height: auto;
}
.zuihhh{
    width: 100%;
    min-width: 1200px;
    height: 950px;
    background-color: rgb(250,250,250);
}
.zuihhh .tuijiantitle{
    margin-bottom: 50px;
}
.zuihhh #main{
    height: auto;
}
.zuihhh .sige_one{
    float: left;
    width: 278px;
    /* height: 156px; */
    height: 170px;
    margin-top: 20px;
    position: relative;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    /* background-color: ; */
    font-family: yahei;
    font-weight: 550;
    cursor: pointer;
}
.zuihhh .sige_two{
    float: left;
    width: 278px;
    /* height: 156px; */
    height: 170px;
    margin-top: 20px;
    position: relative;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    /* background-color: ; */
    font-family: yahei;
    font-weight: 550;
    cursor: pointer;
}
.zuihhh .sige_three{
    float: left;
    width: 278px;
    /* height: 156px; */
    height: 170px;
    margin-top: 20px;
    position: relative;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    /* background-color: ; */
    font-family: yahei;
    font-weight: 550;
    cursor: pointer;
}
.zuihhh .sige_four{
    float: left;
    width: 278px;
    /* height: 156px; */
    height: 170px;
    margin-top: 20px;
    position: relative;
    line-height: 30px;
    color: #000;
    font-size: 18px;
    /* background-color: ; */
    font-family: yahei;
    font-weight: 550;
    cursor: pointer;
}
.pos{
    position: absolute;
    bottom: 15px;
    left: 5px;
    color: #fff;
    font-size: 14px;
}