#wwwmain{
    max-width: 760px;
    height: auto;
    /* background-color: aqua; */
    margin: auto;
    padding-top: 80px;
}
.title{
    font-size: 24px;
    line-height: 42px;
    font-weight: 500;
    padding-top: 90px;
    text-align: center;
    margin-bottom: 20px;
}
span{
    display: inline;
    margin: 0 10px;
    font-size: 12px;
    line-height: 20px;
    color: #4a4a4a;
    cursor: pointer;
}
.datu{
    margin-top: 20px;
}
.biaoqian{
    text-align: center;
    margin: auto;
}
.xiaobianqian{
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom: 8px;
    border-top: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
    width: 120px;
    color: gray;
    font-size: 10px;
    font-weight: 300;
}
p{
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 15px;
    line-height: 30px;
    text-align: justify;
}
.rrr{
    float: right;
    cursor: pointer;
}
.plunqu{
    /* border-bottom:1px solid #4a4a4a; */
    /* background-color: aqua; */
    width: 760px;
    height: 120px;
}
.inputbox{
    height: 400px;
    width: 760px;
    /* background-color: #4a4a4a; */
}
.inleft, .inright{
    height: 30px;
    margin-top: 50px;
    float: left;
}
.inleft{
    width: 9.9%;
    /* background-color: aqua; */
}
.inright{
    width: 90.1%;
    /* background-color: bisque; */
}
.inleft1, .inright1{
    height: 30px;
    margin-top: 50px;
    float: left;
}
.inleft1{
    width: 12%;
    /* background-color: aqua; */
}
.inright1{
    width: 88%;
    /* background-color: bisque; */
}
#sum{
    width: 100px;
    height: 50px;
    border: 1px solid #202020;
    background-color: #202020;
    color: #fff;
    text-align: center;
    line-height: 50px;
    float: right;
    cursor: pointer;
}
.graytime{
    font-size: 12px;
    font-weight: 300;
    color: #4a4a4a;
}
.scpl{
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    float: right;
    cursor: pointer;
}
